@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Stili per input mobile */
input, 
textarea, 
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: text;
  user-select: text;
}

input[type="text"],
input[type="date"],
textarea {
  font-size: 16px !important;
}

@media (max-width: 768px) {
  .table-container {
    -webkit-overflow-scrolling: touch;
  }
  
  .sticky-header {
    position: sticky;
    left: 0;
    z-index: 20;
  }

  /* Stili input per mobile */
  input, 
  textarea, 
  select {
    font-size: 16px !important;
  }

  /* Previene il rimbalzo della pagina su iOS */
  body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}

/* Classe per gestione touch */
.touch-manipulation {
  touch-action: manipulation;
}